body{
    margin:0;
    text-align: center;
    font-family: 'Merriweather:wght@300',verdana, serif;
}
h1{
    margin:50px auto 0 auto;
    font-family: 'Sacramento',cursive;
    font-size:5.625rem;
    color:#66bfbf;
    
}
h2{
    font-weight: 500;
    color:#66bfbf;
    font-size: 2.5rem;
    font-family: verdana,'Monsterrat',"Roboto:wght@500", sans-serif;
}
h3,h4,p{
    color:#11999e;
    font-family: verdana,'Monsterrat',"Roboto:wght@500", sans-serif;
}

/* nav bar */

.main-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #66bfbf;
}
nav  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 
nav li a:hover{
    background-color:#63b7af;
}
/* responsive when screen less than 600px */
@media only screen and (max-width:600px){
    .main-nav{
        font-size:0.5em;
        padding: 0;
    }
}

/* footer */
/* footer */
footer{
    background-color: #C5DED7;
    padding-top:20px;
    margin:0;
}
footer p {
    margin:0;
}

.footer-link{
    padding: 20px;
    color:#11999e;
    text-decoration: none;
    margin:20px;
}
footer a:hover{
    color: floralwhite;
}


